.themeScroll{
    padding: 1px;
    background-color: $bg;
    @include scrollable
}
.theme_preview{
    font-family: $font-name;
    padding: 7px;
    >*{
        @include accs-button;
        box-shadow: inset 0 0 0 $border-width #261d1b;
        background-color: $hover-bg;
        color: $hover-fg;
        background-size: 192pt 108pt;
        background-size: cover;
        color: black;
        border-radius:$button-radius;
        &:hover {
            box-shadow: inset 0 0 0 $border-width $fg;
        }
    }
}
.theme_entry{
    @include widget;
    font-size: xx-large;
    min-height: 108pt;
    min-width:  192pt;
    color: $fg;
    border-radius:$button-radius;
}

