.launcher {
    * {
        font-size: $font-size * $launcher-scaling * 0.01;
    }

    background-color: rgba(0, 0, 0, 0.4);
    @include floating_widget;

    .appIcon {
        font-size: $launcher-icon;
    }

    separator {
        &.horizontal {
            background-color: red;

            min-height: 10px;
        }

        &.vertical {
            background-color: red;
            min-width: 10px;
        }
    }

    .favoritesIcon {
        font-size: $launcher-favorites;
    }
}
