#launcher {
    background-color: rgba(0, 0, 0, $launcher-bg_opacity);

    * {
        font-size: $font-size * $launcher-scaling * 0.01;
    }

    .launcher {
        @include floating_widget;
        margin-top: if($bar-floating, $bar-margin_top, 0em);
        margin: 100px;

        &.withBorder {
            border-top: if($launcher-border_location =='top' or $launcher-border_location =='horizontal' or $launcher-border_location =='full',
                    $launcher-border_width solid,
                    none);
            border-bottom: if($launcher-border_location =='bottom' or $launcher-border_location =='horizontal' or $launcher-border_location =='full',
                    $launcher-border_width solid,
                    none);
            border-left: if($launcher-border_location =='left' or $launcher-border_location =='vertical' or $launcher-border_location =='full',
                    $launcher-border_width solid,
                    none);
            border-right: if($launcher-border_location =='right' or $launcher-border_location =='vertical' or $launcher-border_location =='full',
                    $launcher-border_width solid,
                    none);
            border-color: $launcher-border_color;
        }

        @if $launcher-shadow-enable {
            box-shadow: 0px 1px 4px 0px $launcher-shadow-color;
        }
    }

    .appIcon {
        font-size: $launcher-icon;
    }

    .favoritesIcon {
        font-size: $launcher-favorites;
    }

    separator {
        background-color: $launcher-separator-color;
        margin: $launcher-spacing 0;
        min-height: $launcher-separator-width;
    }
}
